
/* /////////////////////////////////////////////////////////// */
/* Elements  */
/* /////////////////////////////////////////////////////////// */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 250px;
}


/* /////////////////////////////////////////////////////////// */
/* Helpers */
/* /////////////////////////////////////////////////////////// */


.glyphicon {
    padding-right: 3px;
}

.glyphicon-pd-left {
    padding-left: 20px;
}

.well-dark {
    color: #000;
}

.tns-syntaxErrors li {
    padding: 0 0 5px;
}





/* /////////////////////////////////////////////////////////// */
/* Header */
/* /////////////////////////////////////////////////////////// */
.jumbotron {
    background: #444;
    color: #fff;
}

.jumbotron .glyphicon-lg {
    font-size: 5em;
    padding: 10px 0 20px;
    display: block;
}




#drop {
    border: dashed #aaa 2px;
    border-radius: 8px;
    background: #555;
    margin-top: 20px;
    margin-bottom: 40px;
}

#drop .zone-lg {
    text-align: center;
    padding: 20px 0 30px;
}

#drop .zone-sm {
    padding: 20px;
}







/* /////////////////////////////////////////////////////////// */
/* Footer */
/* /////////////////////////////////////////////////////////// */

.footer {
    /* Set the fixed height of the footer here */
    height: 250px;
    position: absolute;
    bottom: 0;
    width: 100%;

    padding: 40px 0;
    background: #444;
    color: #fff;
}

.footer h5 {
    padding-bottom: 10px;
    border-bottom: solid 2px #555;
}

.footer ul {
    color: #bbb;
}

.footer a {
    color: #bbb;
}

