
/* /////////////////////////////////////////////////////////// */
/* Elements  */
/* /////////////////////////////////////////////////////////// */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 200px;
}




/* /////////////////////////////////////////////////////////// */
/* flexbox container */
/* /////////////////////////////////////////////////////////// */

.flexbox-container {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}

.flexbox-left {
    width: 50%;
    padding: 10px;
}

.flexbox-right {
    background: #ededed;
}





/* /////////////////////////////////////////////////////////// */
/* Helpers */
/* /////////////////////////////////////////////////////////// */


.glyphicon, .fa {
    padding-right: 3px;
}

.glyphicon-pd-left {
    padding-left: 20px;
}


.well {
    border-radius: 0;
}

.well-dark {
    color: #000;
}

.well-light {
    background: #fff;
    margin-top: 20px;
}




/* /////////////////////////////////////////////////////////// */
/* Header */
/* /////////////////////////////////////////////////////////// */

.jumbotron {
    background: #444;
    color: #fff;
}

.jumbotron .glyphicon-lg {
    font-size: 5em;
    padding: 10px 0 20px;
    display: block;
}

.jumbo-lg {
    padding: 20px 0 10px;
}

.jumbo-sm {
    padding: 20px 0 0;
    margin: 0;
}


#drop {
    border: dashed #aaa 2px;
    background: #555;
    margin-top: 20px;
    margin-bottom: 40px;
}

#drop .zone-lg {
    text-align: center;
    padding: 20px 0 30px;
}

#drop .zone-sm {
    padding: 20px;
}




/* /////////////////////////////////////////////////////////// */
/* Wrappers */
/* /////////////////////////////////////////////////////////// */


.wrapper-file,
.wrapper-about,
.wrapper-filter,
.wrapper-export,
.wrapper-entries,
.wrapper-parseErrors {
    margin-bottom: 20px;
}


.wrapper-about p {
    line-height: 26px;
}

.wrapper-about li {
    padding: 3px;
}



.wrapper-filter{
    margin-bottom: 10px;
}





.wrapper-file {
    color: #fff;
    background: #62629e; 
    padding-left: 20px;
}

.wrapper-file .file-info{
    padding: 10px 0 30px;
}




.wrapper-parseErrors li {
    padding: 0 0 5px;
}





.wrapper-entries .entryRow {
    padding: 20px;
    background: #f5f5f5;
    border: 1px #ddd;
    border-style: solid none;
    margin-bottom: 40px;
}

.wrapper-entries .entryHidden{
    opacity: .5;
}

.wrapper-entries .pull-right {
    cursor: pointer;
}

.wrapper-entries pre{
    overflow: auto;
    border: none;
    border-radius: 0;
    padding: 20px;
    margin: 0px -20px -20px;
}

.wrapper-entries .attributes{
    cursor: pointer;
    padding: 3px 0 0;
}




.wrapper-export .well {
    border: none;
    background: #545454;
}

.wrapper-export textarea{
    margin-top: 20px;
    overflow: auto;
    height: 1000px;
}


/* /////////////////////////////////////////////////////////// */
/* Footer */
/* /////////////////////////////////////////////////////////// */

.footer {
    /* Set the fixed height of the footer here */
    height: 200px;
    position: absolute;
    bottom: 0;
    width: 100%;

    text-align: center;
    padding: 40px 0;
    background: #3e5d46;
    color: #fff;
}

.footer h5 {
    padding-bottom: 10px;
    border-bottom: solid 2px #555;
}

.footer ul {
    color: #bbb;
}

.footer a {
    color: #8CBB92;
}

