<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>tnsnamer</title>
    <meta name="description" content="TNSNames.ora Syntax and Modification Tool">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" />
    <link href="css/tns.css" rel="stylesheet" />
</head>

<body ng-app="app-tns" ng-controller="tnsController" ng-cloak>




    <div class="jumbotron">

        <div class="container">

            <h1> 
                tnsnamer 
                <span class="small text-muted">for tnsnames.ora</span>  
            </h1>


            <!-- ////////////////////////////////////////////////////////////////// -->
            <!-- File Drop Zone-->
            <!-- ////////////////////////////////////////////////////////////////// -->
            <div id="drop" drop-area on-parse="ParseFile(files)">

                <div ng-hide="file" class="zone-lg">
                    <span class="glyphicon glyphicon-lg glyphicon-cloud-download"></span>
                    drop tnsnames.ora here-ish
                </div>

                <div ng-show="file" class="zone-sm">
                    <span class="glyphicon glyphicon-cloud-download"></span>
                    drop another file as needed
                </div>

            </div>


            <!-- ////////////////////////////////////////////////////////////////// -->
            <!-- Program Errors-->
            <!-- ////////////////////////////////////////////////////////////////// -->
            <div ng-show="errors" class="alert alert-danger">
                <strong>
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{errors}}
                </strong>
            </div>





        </div>

    </div>







    <!-- ////////////////////////////////////////////////////////////////// -->
    <!-- File of Interest-->
    <!-- ////////////////////////////////////////////////////////////////// -->
    <div ng-show="file" style="background: #62629e; padding: 20px 0 30px; margin: -80px 0 20px; color: #fff;">
        <div class="container">
            <h3>
                {{file.name}}
            </h3>
            <div> 

                <span class="glyphicon glyphicon-calendar"></span>
                <span title="Last Modified Date">{{file.lastModifiedDate | date}}</span>

                <span class="glyphicon glyphicon-hdd glyphicon-pd-left"></span>
                <span title="File Size">{{file.size | bytes}}</span>
            </div>
        </div>
    </div>





    <!-- ////////////////////////////////////////////////////////////////// -->
    <!-- Dashboard Button Area -->
    <!-- ////////////////////////////////////////////////////////////////// -->
    <div ng-show="file" class="container"> 

        <span class="btn btn-default" title="Reset" ng-click="ResetControl()">
            <span class="glyphicon glyphicon-refresh"></span>
            Restart
        </span>

        <span class="btn btn-default" title="Errors">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            {{parseErrors.length}}
            Errors
        </span>

        <span class="btn btn-default" title="Entries">
            <span class="glyphicon glyphicon-list"></span>
            {{entries.length}}
            Entries
        </span>

    </div>





    <div class="container">

        <!-- ////////////////////////////////////////////////////////////////// -->
        <!-- Parsed Entries-->
        <!-- ////////////////////////////////////////////////////////////////// -->
        <div ng-hide="file">

            <div class="row">

                <div class="col-sm-6">

                    <h4>What do I do?</h4>
                    <hr/>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu nisi sem. Nulla ante dolor, ultricies pharetra gravida et, placerat et purus. Aenean condimentum tristique arcu, ac vehicula libero dictum ac. Cras vel magna a nisl varius accumsan. Vestibulum nibh quam, posuere in enim ut, feugiat commodo arcu. Donec tempus tortor sit amet enim ornare ultrices. Aenean nec hendrerit nulla. Cras vitae mollis nisi, in vulputate sapien. Praesent dapibus elementum luctus. Vivamus dapibus quis diam non vehicula. Nulla lectus dui, suscipit sit amet turpis in, pellentesque blandit mi.
                    </p>

                </div>
                <div class="col-sm-6">

                    <h4>Why should I use this?</h4>
                    <hr/>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu nisi sem. Nulla ante dolor, ultricies pharetra gravida et, placerat et purus. Aenean condimentum tristique arcu, ac vehicula libero dictum ac. Cras vel magna a nisl varius accumsan. Vestibulum nibh quam, posuere in enim ut, feugiat commodo arcu. Donec tempus tortor sit amet enim ornare ultrices. Aenean nec hendrerit nulla. Cras vitae mollis nisi, in vulputate sapien. Praesent dapibus elementum luctus. Vivamus dapibus quis diam non vehicula. Nulla lectus dui, suscipit sit amet turpis in, pellentesque blandit mi.
                    </p>

                </div>

            </div>
            <br/>
            <br/>

            <h4>How does it work?</h4>
            <hr/>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu nisi sem. Nulla ante dolor, ultricies pharetra gravida et, placerat et purus. Aenean condimentum tristique arcu, ac vehicula libero dictum ac. Cras vel magna a nisl varius accumsan. Vestibulum nibh quam, posuere in enim ut, feugiat commodo arcu. Donec tempus tortor sit amet enim ornare ultrices. Aenean nec hendrerit nulla. Cras vitae mollis nisi, in vulputate sapien. Praesent dapibus elementum luctus. Vivamus dapibus quis diam non vehicula. Nulla lectus dui, suscipit sit amet turpis in, pellentesque blandit mi.
            </p>
            <br/>
            <br/>


            <h4>Why did you create this?</h4>
            <hr/>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu nisi sem. Nulla ante dolor, ultricies pharetra gravida et, placerat et purus. Aenean condimentum tristique arcu, ac vehicula libero dictum ac. Cras vel magna a nisl varius accumsan. Vestibulum nibh quam, posuere in enim ut, feugiat commodo arcu. Donec tempus tortor sit amet enim ornare ultrices. Aenean nec hendrerit nulla. Cras vitae mollis nisi, in vulputate sapien. Praesent dapibus elementum luctus. Vivamus dapibus quis diam non vehicula. Nulla lectus dui, suscipit sit amet turpis in, pellentesque blandit mi.
            </p>
            <br/>
            <br/>


        </div>


        <!-- ////////////////////////////////////////////////////////////////// -->
        <!-- Parsing Syntax Errors-->
        <!-- ////////////////////////////////////////////////////////////////// -->
        <div ng-show="parseErrors.length">
            <div class="tns-syntaxErrors alert alert-warning">
                <h4>
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    Possible Syntax Errors
                </h4>
                <hr/>
                <ul class="list-unstyled"> 
                    <li ng-repeat="error in parseErrors"> 
                        Line {{error.line}} Column {{error.column}}:
                        <i>{{error.msg}}</i>
                    </li>
                </ul>
            </div>
        </div>



        <!-- ////////////////////////////////////////////////////////////////// -->
        <!-- Parsed Entries-->
        <!-- ////////////////////////////////////////////////////////////////// -->
        <div ng-repeat="entry in entries">
            <hr/>
            <h4> {{entry.alias}} </h4>
            <pre>{{entry.rawText}}</pre>
        </div>


    </div>



    <div class="footer">
        <div class="container">
            <div class="row">


                <!-- ////////////////////////////////////////////////////////////////// -->
                <!-- Thanks -->
                <!-- ////////////////////////////////////////////////////////////////// -->
                <div class="col-sm-4">
                    <h5>
                        <span class="fa fa-hand-spock-o"></span>
                        Thanks for checking all this out!
                    </h5>
                    <i class="hidden-xs">
                        Look, if you are here and this is valuable to you awesome!
                        You should feel proud to be in a very select group of well.. 
                        networky.. oracle-like.. people?.. it is a good thing !
                    </i>
                </div>



                <!-- ////////////////////////////////////////////////////////////////// -->
                <!-- Tools -->
                <!-- ////////////////////////////////////////////////////////////////// -->
                <div class="col-sm-3 col-sm-offset-2 hidden-xs">
                    <h5>
                        <span class="glyphicon glyphicon-heart"></span>
                        Tools Used
                    </h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="http://www.antlr.org/" title="Antlr4" target="_blank">
                                Antlr4
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/drforr/perl6-ANTLR4/blob/master/corpus/tnsnames.g4" title="tnsname.g4" target="_blank">
                                tnsnames.g4
                            </a>
                        </li>
                        <li>
                            <a href="https://angularjs.org/" title="AngularJS" target="_blank">
                                AngularJS
                            </a>
                        </li>
                        <li>
                            <a href="http://getbootstrap.com/" title="Bootstrap" target="_blank">
                                Bootstrap
                            </a>
                        </li>
                    </ul>
                </div>


                <!-- ////////////////////////////////////////////////////////////////// -->
                <!-- Contact-->
                <!-- ////////////////////////////////////////////////////////////////// -->
                <div class="col-xs-3 hidden-xs">
                    <h5>
                        <span class="glyphicon glyphicon-envelope"></span>
                        Contact
                    </h5>
                    <ul class="list-unstyled">
                        <li> 
                            <a href="https://twitter.com/brantwills" title="@brantwills" target="_blank">
                                @brantwills
                            </a>
                        </li>
                        <li> 
                            <a href="https://github.com/brantwills/tnsnamer" title="Github" target="_blank">
                                github source
                            </a>
                        </li>
                    </ul>
                </div>


            </div>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>

    <script src="js/lib/require.js"></script>
    <script src="js/app/app.js"></script>
    <script src="js/app/tns-controller.js"></script>
    <script src="js/app/tns-directive.js"></script>
    <script src="js/app/tns-filter.js"></script>

</body>

</html>